//main
$mainBg: #409eff;
// 面板相关颜色值
$panel-word-color: red;
$panel-bg-color: #f5f5f5;
// $panel-header-color                 : #00264C;
$panel-header-color: #154B79;
$panel-border-color: #e5e7e9;
$panel-app-bubble-angle-color: #000c26;
$panel-app-bubble-angle-bg-color: #f2f8fe;
$panel-app-list-color: #5a5a5a;
$panel-map-list-color: #00abff;
$panel-app-font-size: 14px;
$panel-bg-hover-color: #ecf5ff;