body.theme-black {
    @import './variables';
    // background-color: $panel-bg-color;
    // .n-statistic .n-statistic-value .n-statistic-value__content {
    //     color: red !important;
    // }
    .AliHYAiHei {
        color:  #FFF;
    }
    .wraper-maptool {
        background: #FFF;
        // background: $panel-bg-color;
        color: #707070;
    }
    
    
    
}
