//main
$mainBg: #409eff;
// 面板相关颜色值
$panel-word-color: rgba(232, 246, 255, .8);
$panel-original-word-color: rgba(232, 246, 255, 1);
$panel-bg-color: rgba(25, 28, 38, .9);
$panel-bg-color1: #4d526b;

// $panel-header-color                 : #00264C;
// $panel-header-color: #154B79;
// $panel-app-bubble-angle-color: #000c26;
// $panel-app-bubble-angle-bg-color: #f2f8fe;
// $panel-app-list-color: #5a5a5a;
// $panel-map-list-color: #00abff;
// $panel-app-font-size: 14px;
$panel-border-color: #54606C;
$panel-bg-hover-color: #3f4252;